<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="11028">
        <setting id="username" type="text" label="11001" default=""/>
        <setting id="password" type="text" option="hidden" label="11002" default=""/>
	</category>
    
    <category label="11029">
        <setting id="appendArtistToTitle" type="bool" label="11030" default="false"/>
        <setting id="playlistDefaultView" type="text" label="11031" default=""/>
        <setting id="artistDefaultView" type="text" label="11032" default=""/>
        <setting id="albumDefaultView" type="text" label="11033" default=""/>
        <setting id="songDefaultView" type="text" label="11034" default=""/>
	</category>
    
</settings>
